<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }}</title>
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="./assets/vendors/mdi/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="assets/vendors/aos/dist/aos.css/aos.css"/>

    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- endinject -->
</head>
<body>
<div class="container-scroller">
    <div class="main-panel">
        <!-- partial header section-->
        {% include "../partials/_header.html" %}
        <!-- partial weather banner-->
        {% include "../partials/_weatherBanner.html" %}
        <!-- start of Injectable content-->
        <div class="content-wrapper">
            <div class="content-overflow">
                {{ content | safe }}
            </div>
        </div>
        <!--end of Injectable content-->
        <!-- partial footer section-->
        {% include "../partials/_footer.html" %}
    </div>
</div>
<script>
    function changeTheme() {
        const elements = document.getElementsByClassName("mainContainer");
        for( let i = 0 ; i<elements.length; i++){
            elements[i].classList.toggle("dark-card");
        }
    }
 //   alert ("");
</script>
<!-- plugin js for this page -->
<script src="assets/vendors/js/vendor.bundle.base.js"></script>
<script src="assets/vendors/aos/dist/aos.js/aos.js"></script>
<!-- End plugin js for this page -->


<!-- Custom js for this page-->
<script src="./assets/js/animation.js"></script>
<script src="./assets/js/jquery.easeScroll.js"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<!-- End custom js for this page-->
<script>

</script>

</body>

</html>
