---
title: Newsely
layout: base.njk
permalink: /sport.html
---

<div class="container">
  <div class="col-sm-12">
    <div class="card" data-aos="fade-up">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="font-weight-600 mb-4">
              Sport
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[0].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[0].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[0].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[0].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[1].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[1].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[1].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[1].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[2].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[2].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[2].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[2].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[3].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[3].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[3].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[3].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[4].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[4].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[4].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[4].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[11].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[11].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ sportNewsGermany.articles[11].title }}
                </h2>
                <p class="fs-15">
                  {{ sportNewsGermany.articles[11].description }}
                </p>
              </div>

            </div>


          </div>
          <div class="col-lg-4">
            <h2 class="mb-4 text-primary font-weight-600">
              Neuesten Nachrichten
            </h2>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1 text-wrap">
                        {{ sportNewsGermany.articles[5].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[5].url }} >
                        <div class="rotate-img rounded " >
                          <img src={{ sportNewsGermany.articles[5].urlToImage }} alt="thumb" class="img-fluid" />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1">
                        {{ sportNewsGermany.articles[6].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[6].url }} >
                        <div class="rotate-img rounded" >
                          <img src={{ sportNewsGermany.articles[6].urlToImage }} alt="thumb" class="img-fluid"/>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1">
                        {{ sportNewsGermany.articles[7].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[7].url }} >
                        <div class="rotate-img rounded" >
                          <img src={{ sportNewsGermany.articles[7].urlToImage }} alt="thumb" class="img-fluid"/>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="trending">
              <h2 class="mb-4 text-primary font-weight-600">
                Trend
              </h2>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[8].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[8].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ sportNewsGermany.articles[8].title }}
                </h4>

              </div>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[9].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[9].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ sportNewsGermany.articles[9].title }}
                </h4>

              </div>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ sportNewsGermany.articles[10].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ sportNewsGermany.articles[10].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ sportNewsGermany.articles[10].title }}
                </h4>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




