---
title: Newsely
layout: base.njk
permalink: /technologie.html
---

<div class="container">
  <div class="col-sm-12">
    <div class="card mainContainer" data-aos="fade-up" >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="font-weight-600 mb-4 pb-4 display-2">
              Technologie
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[6].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[6].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[6].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[6].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[7].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[7].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[7].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[7].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[8].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[8].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[8].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[8].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[9].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[9].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[9].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[9].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[10].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[10].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[10].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[10].description }}
                </p>
              </div>

            </div>
            <div class="row">

              <div class="col-sm-4 grid-margin">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[11].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[11].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
              </div>

              <div class="col-sm-8 grid-margin">
                <h2 class="font-weight-600 mb-2">
                  {{ technologyNews.articles[11].title }}
                </h2>
                <p class="fs-15">
                  {{ technologyNews.articles[11].description }}
                </p>
              </div>

            </div>


          </div>
          <div class="col-lg-4">
            <h2 class="mb-4 font-weight-600">
              Neuesten Nachrichten
            </h2>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1">
                        {{ technologyNews.articles[12].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[12].url }} >
                        <div class="rotate-img rounded" >
                          <img src={{ technologyNews.articles[12].urlToImage }} alt="thumb" class="img-fluid"/>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1">
                        {{ technologyNews.articles[13].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[13].url }} >
                        <div class="rotate-img rounded" >
                          <img src={{ technologyNews.articles[13].urlToImage }} alt="thumb" class="img-fluid"/>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="border-bottom pb-4 pt-4">
                  <div class="row">
                    <div class="col-sm-8">
                      <h5 class="font-weight-600 mb-1">
                        {{ technologyNews.articles[14].title }}
                      </h5>
                    </div>
                    <div class="col-sm-4">
                      <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[14].url }} >
                        <div class="rotate-img rounded" >
                          <img src={{ technologyNews.articles[14].urlToImage }} alt="thumb" class="img-fluid"/>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="trending">
              <h2 class="mb-4 font-weight-600">
                Trend
              </h2>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[15].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[15].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ technologyNews.articles[15].title }}
                </h4>

              </div>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[16].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[16].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ technologyNews.articles[16].title }}
                </h4>

              </div>
              <div class="mb-4">
                <a target="_blank" style="text-decoration: none ; color: black" href={{ technologyNews.articles[17].url }} >
                  <div class="rotate-img rounded">
                    <img src={{ technologyNews.articles[17].urlToImage }} alt="thumb" class="img-fluid"/>
                  </div>
                </a>
                <h4 class="mt-3 font-weight-600">
                  {{ technologyNews.articles[17].title }}
                </h4>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




