---
title: Newsely
layout: base.njk
permalink: /über.html
---

<div class="container">
  <div class="col-sm-12">
    <div class="card mainContainer" data-aos="fade-up">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="font-weight-600 mb-4 pb-4 display-1">
            Über Newsely
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-sm-12 grid-margin">
                <h2 class="font-weight-600 mb-2" style="height: 20rem;">
                  Newsely ist eine Nachrichtenwebsite, die die neuesten Nachrichten aus der ganzen Welt direkt anbietet.
                  <br><br>
                  Newsely wurde basierend auf der <a href="https://jamstack.org" style="color: black; text-decoration: none;">JAM-Stack-Technologie</a> entwickelt.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




