<footer>
  <div class="footer-top bg-dark ">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="display-1 glow">NEWSELY </h4>
          <h5 class="font-weight-normal mt-4 mb-5">
            Newsely ist Ihre Nachrichten und Unterhaltungs Website. Wir bieten Ihnen die
            neuesten Nachrichten aus der ganzen Welt direkt an.
          </h5>
          <ul class="social-media mb-3">
            <li>
              <a href="https://www.facebook.com" target="_blank">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com" target="_blank">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" target="_blank">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3 class="font-weight-bold mb-3">Kategorien</h3>
          <div class="footer-border-bottom pb-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Magazine</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Business</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Sports</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="footer-border-bottom pb-2 pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Arts</h5>
              <div class="count">1</div>
            </div>
          </div>
          <div class="pt-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="mb-0 font-weight-600">Politics</h5>
              <div class="count">1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-sm-flex justify-content-between align-items-center">
            <div class="fs-14 font-weight-600">
              © 2020 @ <a href="https://github.com/adnannassar/Newsely-JAMStack" target="_blank"
                          class="text-white">
              Adnan Nassar</a>. All rights reserved.
            </div>
            <div class="fs-14 font-weight-600">
              Handcrafted by <a href="https://github.com/adnannassar/Newsely-JAMStack" target="_blank"
                                class="text-white">Adnan Nassar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
