<footer>
    <div class="footer-top bg-dark ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="display-1 glow">NEWSELY </h4>
                    <h5 class="font-weight-normal mt-4 mb-5">
                        Newsely ist Ihre Nachrichten und Unterhaltungs Website. Wir bieten Ihnen die
                        neuesten Nachrichten aus der ganzen Welt direkt an.
                    </h5>
                    <ul class="social-media mb-3">
                        <li>
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="mdi mdi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" target="_blank">
                                <i class="mdi mdi-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com" target="_blank">
                                <i class="mdi mdi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3 class="font-weight-bold mb-3">Kategorien</h3>
                    <div class="footer-border-bottom pb-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="unterhaltung.html"  style="text-decoration: none; color: white;"><h5 class="mb-0 font-weight-600 footer-hyperLink">Unterhaltung</h5></a>
                            <div class="count">2</div>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="gesundheit.html"  style="text-decoration: none; color: white; "> <h5 class="mb-0 font-weight-600 footer-hyperLink">Gesungheit</h5></a>

                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="allgemeines.html"  style="text-decoration: none; color: white; "><h5 class="mb-0 font-weight-600 footer-hyperLink">Allgemeins</h5></a>
                            <div class="count">3</div>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="wissenschaft.html"  style="text-decoration: none; color: white; "><h5 class="mb-0 font-weight-600 footer-hyperLink">Wissenschaft</h5></a>

                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="sport.html"  style="text-decoration: none; color: white; "><h5 class="mb-0 font-weight-600 footer-hyperLink">Sport</h5></a>
                            <div class="count">1</div>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="technologie.html"  style="text-decoration: none; color: white; "><h5 class="mb-0 font-weight-600 footer-hyperLink">Technologie</h5></a>
                            <div class="count">1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="fs-14 font-weight-600">
                            © 2020 @ <a href="https://github.com/adnannassar/Newsely-JAMStack" target="_blank"
                                        class="text-white">
                            Adnan Nassar</a>. All rights reserved.
                        </div>
                        <div class="fs-14 font-weight-600">
                            Handcrafted by <a href="https://github.com/adnannassar/Newsely-JAMStack" target="_blank"
                                              class="text-white">Adnan Nassar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
