<header id="header" class="bg-dark sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-xl">
            <div class="navbar-bottom bg-dark ">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a class="navbar-brand" href="index.html">
                            <h4 class="display-1 glow">NEWSELY</h4>
                        </a>
                    </div>
                    <div>
                        <button class="navbar-toggler bg-dark " type="button"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <i class="mdi mdi-menu"></i>
                        </button>
                        <div class="navbar-collapse justify-content-center collapse bg-dark"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav d-lg-flex justify-content-between align-items-center ">
                                <li>
                                    <button class="navbar-close">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                </li>
                                <li class="nav-item active py-2">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="unterhaltung.html" class="nav-link">Unterhaltung</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="gesundheit.html" class="nav-link">Gesundheit</a>
                                </li>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="allgemeines.html" class="nav-link">Allgemeines</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="wissenschaft.html" class="nav-link">Wissenschaft</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="sport.html" class="nav-link">Sport</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a href="technologie.html" class="nav-link">Technologie</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</header>
