<div class="flash-news-banner">
    <div class="container rounded">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center ">
                <span class="badge badge-danger mr-3 ">Flash Wetter</span>
            </div>
            <div class="d-flex  py-2">
                <span class="mr-3 text-primary">{{ dates }}</span>
                <span class="text-primary">{{ weather.main.temp }}°C, {{ weather.name }}</span>

            </div>
        </div>
    </div>
</div>
