<div class="flash-news-banner ">
            <div class="container rounded mainContainer">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center" onclick="getLocation()">
                        <span class="badge badge-danger mr-3 " style="cursor: pointer">Flash Wetter</span>
                    </div>
                    <div class="d-flex  py-2">
                        <span class="mr-3">{{ dates }}</span>
                        <span  id="city"></span>
                        <span id="theme" class="ml-3"><i class="iconify" data-icon="fluent:dark-theme-24-filled" data-inline="false" onclick="changeTheme()"></i></span></div>
                </div>
            </div>
        </div>




<script>
    let lat, lon;

    function getLocation() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            return "Geolocation is not supported by this browser";
        }
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                console.log("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                console.log("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                console.log("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERR:
                console.log("An unknown error occurred.");
                break;
        }
    }

    function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        const url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&units=metric&appid=41ad88a1f768b910e390f99a84773acb`
        let request = new XMLHttpRequest();
        request.open("GET", url);
        request.send();
        request.onload = () => {
            if (request.status === 200) {
                document.getElementById("city").innerHTML = JSON.parse(request.response).name + ",  " + (JSON.parse(request.response).main.temp | 0) + '&#8451';
            } else {
                console.log(`error ${request.status} ${request.statusText}`);
            }
        }
    }

    getLocation();
</script>


